<%- include('/Users/asadbilal/Desktop/shoppingcart/views/layout/adminheader.ejs') %>





<h3 class="display-3"> Add a category </h3>

<form  method="post" action="/categories/add">

  <div class="form-group">
      <label for""> Title : </label> <input type="text" name="title" value = "<%= title %>" placeholder="title" class="form-control" />


</div>

<button class="btn btn-primary" > Submit </button>
</form>


<%- include('/Users/asadbilal/Desktop/shoppingcart/views/layout/adminfooter.ejs') %>
