<%- include('/Users/asadbilal/Desktop/shoppingcart/views/layout/adminheader.ejs'); %>



        <h1>admin jani</h1>



<%- include('/Users/asadbilal/Desktop/shoppingcart/views/layout/adminfooter.ejs'); %>
