
</main>


<br><br>




<nav class="navbar navbar-dark bg-dark ">

    <p class="text-center" style="padding-left: 40%;font-family:Oswald; color: white;" >  &COPY; All Rights Reserved - Farooq's Mart </p>


</nav>




</body>
</html>
