
<!doctype html>
<html lang="en">
<head>    <!-- hover got two fucking function!! -->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" >
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" > </script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
<script>

$(document).ready(function(){

$("a").not('#pleasenot').hover(function(){


    $(this).animate({fontSize : "+=30%"},200);


}, function(){


    $(this).animate({fontSize : "-=30%"},200);


}

)


$('.productdetail').hover(function(){

  $(this).find("img").text( "opacity", "0.5" );
  $(this).find('p').slideDown(200);    //find is use to find children bc within nesting
},function(){
  $(this).find("img").css( "opacity", "1" );
    $(this).find('p').slideUp(200);

});




});

</script>

<title>  Admin </title>

</head>

  <body >





  <div class="carousel slide"  data-ride="carousel" data-interval=2000 >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class=" w-100 " src="/images/sale.jpg" alt="First slide"  style="height: 8em">
      </div>
      <div class="carousel-item">
        <img class=" w-100" src="/images/sale3.jpg" alt="Second slide"  style="height: 8em">
      </div>

    </div>
  </div>



    <nav class="navbar navbar-expand-md navbar-dark bg-dark">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" >
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarsExampleDefault">


        <ul class="navbar-nav mr-auto">



          <li class="nav-item active">

            <a id="pleasenot" style="font-family: 'Oswald';" class="nav-link" href="/">   <i class="fas fa-shopping-cart"></i> Farooq's Mart</a>
          </li>
          <% if(typeof admin != 'undefined' && admin == true) {%>
          <li class="nav-item">
            <a style="font-family: 'Oswald'; " class="nav-link" href="/admin">Admin</a>


          </li>
          <% } %>

        </ul>


        <ul class="navbar-nav ml-auto">




             <% if(typeof cart == 'undefined' &&  boole == 'false' ) {

                   } else {

                    if(boole==true && (typeof cart != "undefined")){
                      var count=0;
                     cart.forEach(function(result){
                    count+=result.qty;
                  }
                ); %>  <li class="nav-item" style="padding-top:0.5em;">       <i style="color: white" class="fas fa-shopping-bag"> </i>
                        <a  style = "font-family: Oswald; color: white; " href="/cart/final/checkout">

                       My Cart
                       <span style="background-color: white;border-radius:50%; font-family: Oswald; color : #3a244c;
                       border: 5px solid white; ">   <%= count %></span>

                    <% }} %>

              </a>
          </li>





          <li class="nav-item active">
          <a  id="pleasenot"class="nav-link"style = "font-family: Oswald; color: white; "> Contact us at 021-5678901</a>
          </li>

          <%if(typeof boole !='undefined' && boole ==true)  {%>
          <li class="nav-item">
              <a  class="nav-link" style="font-family:Oswald"> <%=name.username%></a>
          </li>
            <li class="nav-item">
              <a class="nav-link"href="/user/logout"> Logout</a>
            </li> <% }else{ %>
              <li class="nav-item">
                <a class="nav-link"href="/user/register"> Register</a>
              </li>

              <li class="nav-item">
                <a class="nav-link"href="/user/login"> Login</a>
              </li>
            <% } %>
      </ul>


      </div>
    </nav>



 <div class="row">

 <div class="col-md-3">

 </div>





 </div>




 <% if(errors ) {%>
  <% errors.forEach(function(error) {%>
   <div class="alert alert-danger">
     <%= error.msg %>
   </div>
   <% }); } %>
